**/.DS_Store
**/__pycache__
**/__MACOSX
**/colormap.csv
test
**/testing
**/UnitTest.py
output
**/.idea
**/archive
pv_vision.egg-info
dist

# tutorial
tutorials/unet_oversample_low_final_model_for_paper
tutorials/model_weights.zip
tutorials/checkpoints
tutorials/output
tutorials/crack_segmentation
tutorials/image_masks.zip
